<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Add a new phrase</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="ctrl.phraseForm">
    <div ng-class="{'has-error':ctrl.validatePhrase()}">
      <input replace="[^a-zA-Z\s]" with="" ng-model="ctrl.phrase.text" name="phrase" type="text" class="form-control" required="" />
      <div class="horizontal-center">
        <span ng-show="ctrl.validatePhrase()" class="help-block">The phrase is required</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ctrl.save()">save</button>
  <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">cancel</button>
</div>