<form class="form-horizontal horizontal-center">
	<div class="row">
		<div class="form-group alert alert-success" ng-show="ctrl.conqueror.won">
			<h2>WE HAVE A WINNER!!</h2>
			<h3><strong>{{ctrl.conqueror.name}}</strong>, is the new Conqueror!!</h3>
		</div>
		<div class="form-group alert alert-danger" ng-show="ctrl.conqueror.lost">
			<h2>YOU LOST THE GAME!!</h2>
			<h3><strong>{{ctrl.conqueror.name}}</strong>, is the new loser</h3>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<button ng-click="ctrl.playAgain()" type="button" class="btn btn-primary">Play Again</button>
		</div>
	</div>
</form>