<form novalidate  name="ctrl.playerForm" class="form-horizontal enterPlayers">
	<div class="row">
		<div class="col-md-4 col-md-push-1">			
			<div class="row">
				<h4 class="horizontal-center"><strong>Enter Player Name</strong></h4>
				<div class="form-group">
					<label class="col-sm-3">Name:</label>
					<div ng-class="{'col-sm-9': true,'has-error':ctrl.validatePlayerName()}">
						<input ng-model="ctrl.player.name" name="playerName" type="text" class="form-control" required=""/>
						<div class="horizontal-center">
							<span ng-show="ctrl.validatePlayerName()" class="help-block">The player name is required</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group horizontal-center">
					<button ng-click="ctrl.start()" type="button" class="btn btn-primary">Start!</button>
				</div>
			</div>	
		</div>
		<div class="col-md-5 col-md-push-2">
			<h4 class="horizontal-center"><strong>RESULTS</strong></h4>
			<div class="form-group winnersTable">
				<table class="table">
					<thead>
						<tr>
							<th>Player</th>
							<th>Won</th>	
							<th>Lost</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in ctrl.playerResults">
							<td>{{player.name}}</td>
							<td>{{player.won}}</td>
							<td>{{player.lost}}</td>						
						</tr>				
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>