<!DOCTYPE html>
<html>

<head>
  <title>HANGMAN GAME</title>
  <!-- build:css -->
  <!-- endbuild -->
</head>

<body ng-app="app" ng-controller="IndexCtrl as index">
  <div class="container">
    <div class="col-md-6 template-space">
      <div class="form-group horizontal-center">
        <h2 class="view-title"><strong>HANGMAN GAME</strong></h2>
        	<button ng-show="index.location.path() === '/'" ng-click="index.newPhraseDialog()" type="button" class="btn btn-link">Add a new phrase</button>
      </div>      
      <hr/>
      <div ng-view class="vcenter"></div>
    </div>
  </div>
  <!--compiledDirectives-->
  <!-- build:js -->
  <!-- endbuild -->
</body>

</html>