<form class="form-horizontal enterPlayers round" ng-init="ctrl.nextRound()">
  <div class="form-group">
    <div class="col-md-8 col-md-offset-2">
      <div class="row horizontal-center">
        <div class="form-group">
          <h3><strong>Round {{ctrl.roundIndex}}</strong></h3>
        </div>
        <div class="form-group">
          <h4><strong>Wrong moves left: {{ctrl.movesLeft}}</strong></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group letters-div">
    <table class="table-bordered">
      <tr>
        <td ng-repeat="letter in ctrl.splittedPhrase">{{letter.show?letter.value:'*'}}</td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <div class="horizontal-center">
      <button ng-repeat="button in ctrl.buttons.row1" ng-click="ctrl.playerInput(button)" type="button" class="btn-lg btn-success"
        ng-disabled="button.disabled">{{button.letter}}</button>
    </div>
  </div>
  <div class="form-group">
    <div class="horizontal-center">
      <button ng-repeat="button in ctrl.buttons.row2" ng-click="ctrl.playerInput(button)" type="button" class="btn-lg btn-success"
        ng-disabled="button.disabled">{{button.letter}}</button>
    </div>
  </div>
  <div class="form-group">
    <div class="horizontal-center">
      <button ng-repeat="button in ctrl.buttons.row3" ng-click="ctrl.playerInput(button)" type="button" class="btn-lg btn-success"
        ng-disabled="button.disabled">{{button.letter}}</button>
    </div>
  </div>

  <div class="form-group" ng-show="ctrl.nextButton">
    <div class="horizontal-center alert alert-success">
      Great!, click in the next button to continue
      <button ng-click="ctrl.next()" type="button" class="btn btn-primary" ng-disabled="button.disabled">Next</button>
    </div>
  </div>
</form>