.enterPlayers h4 {
    padding-bottom: 15px;
}

.winnersTable tbody {
    display:block;
    max-height:120px;
    overflow-y:scroll;
}
.winnersTable thead, .winnersTable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.winnersTable thead {
    width:92%; 
}
.winnersTable table {
    width:100%;
}