html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

.template-space {
    background: #eee;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

.horizontal-center {
    text-align: center;
}

.view-title{
    padding-bottom: 20px;
}