
.round .letters-div {
    width: 100%;
    height: auto;
    font-size: 25px;
    font-weight: bold;
}

.round .letters-div table{
    margin: 0 auto;
    border-spacing: 0px 10px !important;   
}
.round .letters-div table td{
    padding: 0 8px;
    border-right: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #000 !important;
}

